:root {
  --black: rgba(17, 17, 17, 1);
  --white: #F4F7F5;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--black);
  overflow: hidden;
  /* overflow-x:hidden ; */
  /* height: 100vh;
  width: 100vw; */
  text-align: center;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
#header{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-image: url(./img/covid-gif.gif);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: height 2s linear;
}
#title{
  text-transform: capitalize;
  text-align: center;
  font-weight: 900;
  color: var(--white);
  font-size: 9vw;
  opacity: .8;
  transition: opacity 2s;
}
#downArow{
  font-size: 50px;
  margin-top: 100px;
  color: var(--white);
  cursor: pointer;
  opacity: .8;
  transition: opacity 1s;
  animation: arrowUpDown 1.5s infinite ease-out;
}
@keyframes arrowUpDown{
  0%,100%{
  transform:translateY(0px)
  }
  50%{
    transform:translateY(30px)
  }
}
#navBar{
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  /* grid-template-rows: 5vh; */
  padding: 0 20px;
  margin: 10px;
  z-index: 0;
  color: var(--white);
  height: 7vh;
}
.navBarTitle{
  font-size: 30px;
}
input[type=text] {
  justify-self: right;
  width: 0px;
  border: 0px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--black);
  background-image: url('https://img.icons8.com/cotton/2x/search--v2.png');
  background-size: 25px;
  background-position: 3px 3px; 
  background-repeat: no-repeat;
  padding: 5px 0px 5px 30px;
  transition: all .5s linear;
  opacity: .9;
  cursor: pointer;
  height: 30px;
}

input[type=text]:focus {
  border: 2px solid #ccc;
  padding: 5px 20px 5px 40px;
  background-color: var(--white);
  width: 100%;
  cursor: text;
}
.siteLogo{
  height: 40px;
  width: 40px;
  opacity: .9;
}
#countries{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
  grid-gap: 10px ;
  background: var(--white);
  margin:0 20px;
  opacity: 0;
  transition: opacity 4s;
  height: 82vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding:20px 0;
}
.countriesItem{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.countriesItem>ul{
  list-style: none;
  text-align: left;
  padding: 0;
}
#footer{
  overflow: hidden;
  height: 10vh;
}
#scrollText{
  color: var(--white);
  text-align: center;
  display: flex;
  width: 2000px;
}
.scrollWorldUpdate{
  display: flex;
  white-space: nowrap;
  align-items: center;
  text-transform: uppercase;
}
.scrollWorldUpdate>li{
margin-right: 30px;
font-size: 15px;
opacity: .8;
}
.scrollWorldUpdate>li:hover{
text-decoration: underline;
opacity: 1;
  }
.scrollWorldUpdate>li:nth-child(6){
  margin-right: 0;
  }
.scrollWorldUpdate:nth-child(1){  
  animation: scrollText1 40s linear infinite;
}
.scrollWorldUpdate:nth-child(2){
  animation: scrollText2 40s linear infinite;
}
footer:hover>.scrollWorldUpdate{
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes scrollText1{
0%{
  transform: translateX(0);
}
100%{
  transform: translateX(-100%);
}
}
@keyframes scrollText2{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
  }

  @media screen and (max-width: 500px){
    .navBarTitle{
      grid-area: 1/2/1/4;
      font-size: 5vw;
      align-self: center;
    }
    input[type=text]{
      justify-self: center;
      grid-area: 2/1/2/4;
    }
    input[type=text]:focus{
      width: 50%;
    }
    #navBar{
height: 12vh;
    }
    #countries{
height: 75vh;
    font-size: 10px;
grid-template-columns: repeat(auto-fit, 130px);
grid-template-rows: repeat(auto-fit, 195px);
    }
    footer{
      position: fixed;
      bottom: 0;
    }
  }